<nav>
    <ul class="flex items-center gap-4">
        {{#foreach navigation}}
        <li>
            <a href="{{url absolute='true'}}" class="font-semibold text-black{{#if current}} underline underline-offset-4{{/if}} dark:text-white">
                <div class="">{{label}}</div>
            </a>
        </li>
        {{/foreach}}
    </ul>
</nav>